<h1 class="welcome" ng-click="save()">Welcome to Worldcup Madness</h1>
{{tipps}}
<div class="bs-callout bs-callout-info" ng-repeat="game in games">
    <div class="row text-center teamname">
        <div class="col-xs-2"><h3>{{game.team1.abbrevation}}</h3></div>
        <div class="col-xs-2 flagcontainer"><img ng-src="../images/flags/{{game.team1.name}}.png" class="flag"></img>
        </div>
        <div class="col-xs-4"><h3>{{game.result.goalsTeam1}} : {{game.result.goalsTeam2}}</h3></div>
        <div class="col-xs-2 flagcontainer"><img ng-src="../images/flags/{{game.team2.name}}.png" class="flag"></img>
        </div>
        <div class="col-xs-2"><h3>{{game.team2.abbrevation}}</h3></div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 date">{{game.startTime}}</div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <input type="number" class="form-control score">:<input type="number" class="form-control score">
        </div>
    </div>
</div>

<div class="bs-callout bs-callout-info">
    <div class="row text-center">
        <div class="col-xs-4">BRA</div>
        <div class="col-xs-4">3 : 1</div>
        <div class="col-xs-4">MEX</div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">12.6 - 22:01</div>
    </div>
    <div class="row text-center">
        <div class="col-xs-4">Bet 3 : 2</div>
        <div class="col-xs-4 col-xs-offset-4">4 Points</div>
    </div>
</div>


