<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Worldcup Madness</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-show="!isLoggedIn()">
                <li ng-class="navClass('login')"><a href="#/login">Login</a></li>
                <li ng-class="navClass('register')"><a href="#/register">Register</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="isLoggedIn()">
                <li ng-class="navClass('games')"><a href="#">Games</a></li>
                <li ng-class="navClass('ranking')"><a href="#/rankings">Ranking</a></li>
                <li ng-class="navClass('user')"><a ng-href="#/user/{{user.name}}">My Profile</a></li>
                <li ng-class="navClass('rule')"><a href="https://github.com/fluescher/worldcup-madness/wiki/Rules-of-the-game">Rules</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" ng-show="isLoggedIn()">
                <button type="submit" class="btn btn-default" ng-click="logout();">Logout</button>
            </form>
            <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn()">
                <li><a ng-href=="#/user/{{user.name}}">User: {{user.name}}</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>