<div>
    <div class="panel">
        <label class="col-sm-2 control-label">Your rank is: {{yourRank()}}</label>

    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players" ng-click="show(player)">
                <td>{{player.rank}}</td>
                <td>{{player.username}}</td>
                <td>{{player.points}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
