<h2>Multiverse Rankinglist</h2>
<div>
    <div class="panel">
        <label class="col-sm-2 control-label">Your ranking is: {{yourRank()}}</label>

    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ranking in rankings">
                <td>{{ranking.rank}}</td>
                <td><a href="#{{profileUrl(ranking.username)}}">{{ranking.username}}</a></td>
                <td>{{ranking.points}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
