body {
    padding-top: 60px;
}

.bs-callout {
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout-info:nth-child(odd) {
    border-color: #eee;
    background-color: #f7f7f9;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.teamname {
    text-transform: uppercase;
}

.score {
    width: 70px;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.flagcontainer {
    line-height: 56px;
}

.flag {
    max-width: 50px;
}

.date {
    height: 28px;
    line-height: 28px;
}

.welcome {
    margin-bottom: 30px;
}

.points{
    color: gold;
    line-height: 39px;
}